.DS_Store
node_modules
/dist
*.pyc
build
webdist
*.egginfo
# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.history/*
.melodiestudio
__pycache__
*.pyc
*.sqlite
MelodieStudio/static
MelodieStudio.egg-info
.history
.pytest_cache
